<!-- vim: set sw=2 ts=2 sts=2: -->
<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>play youtube bg</title>
  </head>
  <body>
    <form action="/play/background/" method="post">
      {% csrf_token %}
      <div>
        <label for="url">url</label>
        <!--<input type="text" id="url" name="url" placeholder="paste youtube url">-->
        <input type="text" id="url" name="url" placeholder={{ message }}> <!--アプリのviews.pyのcontextから受け取った値がmessageに格納される-->
      </div>
      <input type="submit" value="Play">
    </form>
  </body>
</html>
